<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wonderful.framework">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_application"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:roundIcon">
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- 测试Activity -->
        <activity android:name=".activity.TestActivity">
        </activity>
        <activity
            android:name=".activity.OCRActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.common.StartActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.common.LeadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".activity.MyCenterActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity android:name=".activity.CropActivity">
        </activity>
        <activity android:name=".activity.main.MainActivity">
        </activity>
        <activity android:name=".activity.chat.ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.page_fra.PagerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.trans_fra.TransActivity">
        </activity>
        <activity android:name=".activity.login.LoginActivity">
        </activity>
    </application>

</manifest>